.navbar {
  width: 100%;
  height: 70px;
  background-color: whitesmoke;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  top: 0;
  z-index: 5;
}

.navbar a {
  font-size: 13pt;
}



.navbar .left {
  margin-left: 20px;
}

.navbar .right {
  margin-right: 20px;
  display: flex;
}

.navbar .right >* {
  margin-right: 20px;
  text-decoration: none;
  color: black
}

.navbar .right a:hover {
  color: rgb(53, 138, 46);
}
