body {
  margin: 0;
}

a, p, li {
  font-family: 'Merriweather', serif;
}

input, label, textarea {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}